<div class="container">
    <p class="lead">
        <a target="_blank" href="https://youtu.be/1oO7BDmoQPg">Pós Gradução em Web Full Stack 2019/2020, PucMinas </a>
        | Aplicação consumindo a API themoviedb.org
    </p>
    <p class="lead">&copy; 2020 - Enrique Bonifacio (<a target="_blank"
            href="https://enrique-profile.netlify.app/">https://enrique-profile.netlify.app</a>)</p>
    <p class="lead">
        Api Utilizada: <a target="_blank" href="https://www.themoviedb.org/" target="_blank">https://www.themoviedb.org/
        </a>
    </p>
</div>